@font-face {
    font-family: Outfit;
    src: url('font/Outfit-VariableFont_wght.ttf');
}


@font-face {
    font-family: Roboto;
    src: url('font/RobotoSerif-VariableFont_GRAD\,opsz\,wdth\,wght.ttf');
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.navbar {

    background-color: black;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;    
    position: sticky;
    top: 0;
    z-index: 999;
  


}

.logo {
    display: flex;
    align-items: center;
    font-weight: 600;
    padding-left: 50px;
}

/* .logo img {
    width: 30px;
    margin-right: 10px;
} */

nav {
    display: flex;
    align-items: center;
    gap: 50px;
    padding-right: 50px;


}

nav ul {
    display: flex;
    list-style: none;
    gap: 37px;

}

nav ul li a {
    text-decoration: none;
    color: white;
    font-family: 'Outfit', regular;
    font-weight: 400;
    font-size: 16px;
    transition: 0.3s;


}

nav ul li a:hover {
    color: #f45b69;
}

.contact-btn {
    background-color: #E94560;
    padding: 10px 25px;
    border: none;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-family: 'Outfit', medium;
    font-size: 14px;
    font-weight: 500;
    margin-left: 20px;
}


.contact-btn:hover {
    background-color: #F4F4F4;
    color: #E94560;
    transition: 0.6s ease-in-out;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle span {
    height: 3px;
    width: 25px;
    background: white;
    margin: 4px 0;
    border-radius: 5px;
}


.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    width: 100%;
    background: url('Images/back.jpg') no-repeat center center/cover;
    position: relative;
     scroll-margin-top: 90px;
}



.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0, 1);
    opacity: 75%;
    z-index: 1;
}

.content {
    position: relative;
    z-index: 2;
    padding: 40px 80px;
    text-align: center;
    color: white;
    /* max-width: 800px; */
    /* width: 90%; */
}


.content h5 {
    font-family: 'Poppins', regular;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    margin-bottom: 5px;
    word-spacing: 3px;
}

.content h5 span {
    font-family: 'Poppins', regular;
    font-weight: 700;
    font-size: 16px;
    color: #E94560;
    letter-spacing: 0.3px;
}

.content h1 {
    font-family: 'Outfit', bold;
    font-weight: 700;
    font-size: 70px;
    text-align: center;

    margin-bottom: 20px;
    line-height: 76px;
    letter-spacing: 1.5px;

}

.content p {
    font-family: 'Outfit', regular;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.3px;
    margin-bottom: 30px;
    color: #ddd;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}


.buttons a {

    border-radius: 5px;
    text-decoration: none;
    font-family: 'Outfit', medium;
    font-weight: 500;
    font-size: 16px;
    border: none;
    letter-spacing: 1.5px;

}


.btn-hire {
    padding: 12px 50px;
    background-color: #E94560;
    color: white;
    transition: 0.5s ease-in-out;

}


.btn-hire:hover {
    background-color: white;
    color: #E94560;
}


.btn-portfolio {
    padding: 12px 50px;
    background-color: white;
    color: black;

    transition: 0.5s ease-in-out;
}

.btn-portfolio:hover {
    background-color: #E94560;
    color: white;
}


#services {

    position: relative;
    text-align: center;
    justify-content: center;
    padding:40px 60px;
    
  /* padding-top: 90px; */

    scroll-margin-top: 90px;
}


#services h2 {
    color: #E94560;
    font-size: 24px;
    font-weight: 600;
    font-family: 'Roboto'semiBold;
}


#services h3 {
    color: black;
    font-family: 'Outfit', semiBold;
    font-weight: 600;
    font-size: 50px;
    margin-top: 10px;
}

.cards {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 50px;


}


.card {
    background-color: #F4F4F4;
    padding: 25px;
    border-radius: 16px;
    width: calc(33.33% - 20px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: 0.5s ease-in-out;
    
}


.card .icon {
    background-color: #f1435a;
    color: white;
    font-size: 20px;
    padding: 12px;
    border-radius: 50%;
    margin-bottom: 25px;
}


.card .card-title {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 500;
    font-family: 'Outfit', medium;

}

.card .card-desc {
    text-align: start;
    font-family: 'Outfit', medium;
    font-weight: 400;
    font-size: 16px;

}


.card:hover{
    background-color: #202020;
    cursor: pointer;
}

.card:hover .icon{
    background-color: #FFFFFF;
    color: black;
}

.card:hover .card-title{
    color: white;
}

.card:hover .card-desc{
    color: white;
}


#aboutUs{
    height:675px;
    background-color: #202020;
    display: flex; 
    flex-wrap: wrap;
    padding: 50px;
}


.slider {
  position: absolute;
  width: 50%;
  height:70%;
  perspective: 1000px;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  background-image: url('Images/sliderImage.jpg'); 
  background-size: cover;
  background-position: center;
  animation: rotateStack  9s infinite ease-in-out;
  opacity: 0;
}


.slide1 {
  animation-delay: 0s;
}
.slide2 {
  animation-delay: 3s;
}
.slide3 {
  animation-delay: 6s;
}

@keyframes rotateStack {
  0% {
    transform: translate(-40px, -40px) scale(0.9);
    opacity: 0.25;
    z-index: 1;
  }
  33.3% {
    transform: translate(0px, 0px) scale(1);
    opacity: 1;
    z-index: 3;
  }
 66.6%{
    transform: translate(40px, 40px) scale(0.9);
    opacity: 0.25;
    z-index: 1;
  }
  100% {
    transform: translate(-40px, -40px) scale(0.9);
    opacity: 0.25;
    z-index: 1;
  }
}

.info{
 
}


/* -------------------------------------------------media-queries---------------------------------------------------------------- */

@media (max-width: 1024px) {


    .logo {
        padding-left: 0;
        width: 40%;
        height: auto;
    }

    nav {
        flex-direction: column;
        width: 100%;
        display: none;
        gap: 25px;
        padding-right: 0px;
       

    }

    nav ul {
        flex-direction: column;
        width: 100%;
        gap: 15px;
        margin-top: 30px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    nav.show {
        display: flex;
     
    }

    .menu-toggle {
        display: flex !important;
        cursor: pointer;
    }

    .contact-btn {
        margin: 10px 10px;
    }


    .content {
        padding: 40px 40px;
    }


    .content h5 {
        font-size: 15px;
    }

    .content h5 span {
        font-size: 15px;
    }

    .content h1 {
        font-size: 63px;
        line-height: 60px;
        margin-top: 30px;

    }

    .content p {
        font-size: 15px;
        margin-top: 30px;
    }

    .buttons {
        margin-top: 30px;
        gap: 25px;

    }

    .card {
        width: calc(50% - 20px);
        
    }

    .card .icon {
        font-size: 15px;
  
    }

    .card .card-title {
        font-size: 18px;

    }

    .card .card-desc {
        font-size: 12px;

}

}

























    @media(max-width:768px) {
    .logo {
        width: 50%;
    }

    .content {
        padding: 60px 20px;
    }

    .content h5 {
        font-size: 15px;
    }

    .content h5 span {
        font-size: 12px;
    }

    .content h1 {
        font-size: 40px;
        line-height: 50px;
        margin-top: 15px;

    }

    .content p {
        font-size: 12px;
        margin-top: 25px;
    }


    .buttons {
        margin-top: 25px;
        gap: 25px;

    }


    #services h3 {
        font-size: 25px;
    }

    .card {
        width: 100%;
    }


}



